@charset "utf-8";

/* 서브페이지 */

:root{
  --bg_color:#ccc;
  --main_color:#f36f21;
}


.title_back{
  background: url('http://chlghkqls123.dothome.co.kr/bbs/0310/images/sub_bg1.jpg');
  background-position: 0px -240px;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
}

main .con > nav{
  height: 50px;
  background: #969696;
}
main .con article{
  width: 1200px;
  margin: 0 auto;
}
main .con  h2{display: none;}
.con nav ul{
  width: 150px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.con ul li{line-height: 50px;}
.con ul li:first-child a{
  color: var(--main_color);
}
.con ul li:first-child a::after{
  border-right: 1px solid #333;
  content: "";
  padding-right: 18px;
}